<template>
    <scroller>
        <div class="container">
            <div class="row">
                <transition name="fade">
                    <div class="loading-wrapper" v-if="loading">
                        <div class="loading h3">Loading...</div>
                    </div>
                </transition>
                <transition name="fade">
                    <div class="col-md-12" v-if="page">
                        <h1>{{page.title}}</h1>
                        <img :src="page.mainImage.fields.file.url" v-if="page.mainImage" />
                        <p>{{page.content}}</p>
                    </div>
                </transition>
                <transition name="fade">
                    <div class="error-wrapper" v-if="error">
                        <div class="alert alert-danger">{{error}}</div>
                    </div>
                </transition>
            </div>
        </div>
    </scroller>
</template>

<script>
    export default {
        name: 'home',
        data() {
            return {
                page: null,
                loading: false,
                error: null
            };
        },
        created() {
            this.fetchData();
        },
        watch: {
            '$route': 'fetchData'
        },
        methods: {
            fetchData() {
                this.page = null;
                this.loading = true;
                this.error = null;
                jQuery.get('/static/home-page.json')
                    .then(data => {
                        this.loading = false;
                        this.page = data.fields;
                    })
                    .catch(err => {
                        this.loading = false;
                        this.error = `Failed to load page.
                            [${err.status} ${err.statusText}]`;
                        console.log('Failed to load page', err);
                    });
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
