
<template>
    <div class="stack">
        <div class="scroll">
            <slot>Loading...</slot>
        </div>
    </div>
</template>

<script>
</script>

<style>
    html, body { height:100%; width:100%; }
    .stack {
        position: fixed;
        height:100%;
        width:100%;
        top:0;
        left:0;
    }
    .scroll {
        height:calc(100% - 0.1px);
        width:100%;
        margin-top: 60px;
        z-index: 1;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
</style>
